<div class="col-sm-12 blue-bg chart-container no-padding">
    <div ng-show="vm.selectedModalType == 'daily'">
        <div class="svg-container margin-h-auto">
            <div class="aqi-container">
                <span class=" white-font ">{{vm.selectedAQI}}</span>
            </div>
            <div class="aqi-label-container">
                <span class=" white-font bold">{{vm.selectedAQILabel}}</span>
            </div>
            <div class="margin-h-auto">
                <svg version="1.1" id="Default" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  width="272px" height="228px" viewBox="0 0 272 228" class="svg-center" enable-background="new 0 0 272 228" xml:space="preserve">
                    <g id="ARC_1_">
                        <path fill={{vm.graphColor6}} stroke="#ffffff" stroke-width="0.7087" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"  d="M191.404,187.424l8.573,11.171c20.739-15.914,34.309-39.416,37.721-65.335l-13.961-1.838
                            C220.813,153.638,209.183,173.782,191.404,187.424z"/>
                    </g>
                    <g id="ARC_2_">
                        <path fill={{vm.graphColor1}} stroke="#ffffff" stroke-width="0.7087" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"  d="M88.799,187.424l-8.573,11.171c-20.739-15.914-34.309-39.416-37.721-65.335l13.961-1.838
                            C59.391,153.638,71.021,173.782,88.799,187.424z"/>
                    </g>
                    <g id="ARC_3_">
                        <path fill={{vm.graphColor5}} stroke="#ffffff" stroke-width="0.7087" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"  d="M224.2,127.022l14.038,1.104c2.051-26.061-6.335-51.871-23.313-71.75l-10.708,9.145
                            C218.77,82.562,225.958,104.684,224.2,127.022z"/>
                    </g>
                    <g id="ARC_5_">
                        <path fill={{vm.graphColor4}} stroke="#ffffff" stroke-width="0.7087" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"  d="M211.472,52.542l-10.214,9.693c-15.425-16.254-36.675-25.715-59.075-26.302l0.369-14.077
                            C168.686,22.542,193.477,33.579,211.472,52.542z"/>
                    </g>
                    <g id="ARC_7_">
                        <path fill={{vm.graphColor3}} stroke="#ffffff" stroke-width="0.7087" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M78.686,62.235l-10.215-9.693c17.995-18.963,42.787-30.001,68.92-30.686l0.369,14.077
                            C115.359,36.521,94.109,45.981,78.686,62.235z"/>
                    </g>
                    <path fill={{vm.graphColor2}} stroke="#ffffff" stroke-width="0.7087" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"  d="M41.703,128.129c-2.027-25.758,6.14-51.643,23.315-71.751l10.708,9.145
                        c-14.553,17.039-21.741,39.162-19.983,61.5l-14.038,1.104"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 blue-bg no-padding" style="margin:45px 0px">
    <div class="row" style="margin-right : 0px;">
        <div class="col-sm-12">
            <div class="col-sm-12 no-padding activity-container" ng-cloak ng-hide="vm.activityArray == null" ng-repeat="item in vm.activityArray">
                <div class="col-sm-2 div-68 no-padding">
                    <img class="img-responsive margin-h-auto" src="{{item.u1}}">
                </div>
                <div class="col-sm-10 no-padding">
                    <div class="row">  
                        <div class="col-sm-12  no-padding">
                            <div class="col-sm-2 img-container no-padding margin-right-4 trans-bg">
                                <img class="img-responsive margin-h-auto" src="{{item.u2}}">
                            </div>
                            <div class="col-sm-9 label-container no-padding text-left margin-right-4 trans-bg">
                                <p class="white-font bold text-ceter">{{item.t}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
