<div class="col-sm-12 blue-bg chart-container no-padding">
    <div >
        <div class="svg-container margin-h-auto">
            <div class="home-label-container">
                <span class=" white-font bold">Air<br>Quality<br>Index</span>
            </div>
            <div class="margin-h-auto">
                <img src="assets/img/aqiinfo.png" class="aqiinfo-img">
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 blue-bg padding-15" >
    <div class="row">
        <div class=" col-sm-12 no-bottom-padding" >
            <div class="col-sm-12 no-padding">
                <div class="col-sm-12 text-center margin-bottom-10">
                    <p class="home-info-label no-bottom-margin" style="margin-bottom: 0px;">Significance of AQI</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 home-info-container padding-15 no-bottom-padding"  style="margin-top:10px;">
            <div class="col-sm-12 ">
                <img class="margin-h-auto img-responsive" src="assets/images/aqi-range.png">
            </div>
        </div>
    </div>
</div>