<style type="text/css">
	.menu-label-wrapper,.design-operation-area .nav-pills > li.active > a,
.design-action-bar .nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,.design-operation-area li.active a,
.design-action-bar li.active a,.card-progress .detail-view,.btn-accent,
.btn-accent:focus,
.btn-accent:hover,.accent-modal,.bg-accent,.switch.checked,#pageloader.animate .dot1, header {
		background: {{themeColor}}
	}
.user-link, a.user-link:hover, a.user-link:active{
	background: {{themeColor}} !important;
}

	.nav-pills.main-menu > li.active > a,
.nav-pills.main-menu > li.active > a:hover,
.nav-pills.main-menu > li.active > a:focus,.card-progress .detail-view:before,.accent-font,.accent-font:focus,
.accent-font:hover, .setting-box .nav.nav-tabs li.active a, .setting-box .nav.nav-tabs li.active a:hover, .setting-box .nav.nav-tabs li.active a:focus {
	color:{{themeColor}};
	}
	.form-control.ng-invalid,
.form-control.ng-invalid:focus,
.ui-select-bootstrap.ng-invalid span.ui-select-toggle,
.ui-select-bootstrap.ng-invalid span.ui-select-toggle:focus {
	border: 1px solid {{themeColor}};
}
.switch.checked, .design-action-bar li.active a {
	border-color: {{themeColor}}
}
.jp-play-bar {
	background: {{shadeColor(themeColor,-0.3)}}
}
.jp-controls button,.jp-volume-bar-value {
	background: {{themeColor}}
}
</style>
