
<nav ng-controller="headerCtrl as vm" class="navbar navbar-default custom-menu no-bottom-margin">
    <div class="navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <a ui-sref="dashboard.index">OPEN ENVIRONMENT DATA</a>
        </div>
        <div class="collapse navbar-collapse custom-collapse" id="bs-example-navbar-collapse-1" style="background-color:#00b3bf;">
            <ul class="nav navbar-nav navbar-right navbar-collapse  custom-navbar ">
                
                <li ng-class="{active: $state.includes('about')}"><a></a></li>
                <li ng-class="{active: $state.includes('about')}"><a></a></li>
                <li ng-class="{active: $state.includes('about')}"><a ui-sref="about.index">ABOUT</a></li>
                <li ng-class="{active: $state.includes('community')}"><a ui-sref="community.index">COMMUNITY</a></li>
                <li ng-class="{active: $state.includes('api')}"><a ui-sref="api.index">OPEN APIs</a></li>
                <li ng-class="{active: $state.includes('partners')}"><a ui-sref="partners.index">PARTNERS</a></li>
                <li ><a href="http://knowledge.indiaopendata.com/index.php/India_Open_Environment_Data_Project" target="_blank">WIKI</a></li>
                <li class="airowl-menu" ng-class="{active: $state.includes('airowl')}"><a ui-sref="airowl.index">GET YOUR OWL</a></li>
              </ul>
              </ul>
        </div>
    </div>
    </div>
</nav>
 <div class="menu-collapsed custom-collapse">
        <div id="nav-icon2">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    <div class="menu-overlay menu-overlay-scale custom-collapse">
        <span class="menu-overlay-close pull-right"><span class="glyphicon glyphicon-remove"></span></span>
        <nav>
            <ul>

                <li ng-class="{active: $state.includes('about')}"><a ui-sref="about.index">ABOUT</a></li>
                <li ng-class="{active: $state.includes('community')}"><a ui-sref="community.index">COMMUNITY</a></li>
                <li ng-class="{active: $state.includes('api')}"><a ui-sref="api.index">OPEN APIs</a></li>
                <li ng-class="{active: $state.includes('partners')}"><a ui-sref="partners.index">PARTNERS</a></li>
                <li ><a href="http://knowledge.indiaopendata.com/index.php/India_Open_Environment_Data_Project" target="_blank">WIKI</a></li>
                <li class="airowl-menu" ng-class="{active: $state.includes('airowl')}"><a ui-sref="airowl.index">GET YOUR OWL</a></li>
              </ul>
            </ul>
        </nav>
    </div>
    <script type="text/javascript" src="main.js"></script>


