  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<nav ng-controller="headerCtrl as vm" class="navbar navbar-default custom-menu no-bottom-margin">
    <div class="navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a ui-sref="dashboard.index">OPEN ENVIRONMENT DATA</a>
        </div>
        <div class="collapse navbar-collapse custom-collapse" id="bs-example-navbar-collapse-1" style="background-color:#00b3bf;">
            <ul class="nav navbar-nav navbar-right navbar-collapse  custom-navbar ">
                
                <li ng-class="{active: $state.includes('about')}"><a></a></li>
                <li ng-class="{active: $state.includes('about')}"><a></a></li>
                <li ng-class="{active: $state.includes('about')}"><a ui-sref="about.index">ABOUT</a></li>
                <li ng-class="{active: $state.includes('community')}"><a ui-sref="community.index">COMMUNITY</a></li>
                <li ng-class="{active: $state.includes('api')}"><a ui-sref="api.index">OPEN APIs</a></li>
                <li ng-class="{active: $state.includes('partners')}"><a ui-sref="partners.index">PARTNERS</a></li>
                <li ><a href="http://knowledge.indiaopendata.com/index.php/India_Open_Environment_Data_Project" target="_blank">WIKI</a></li>
              </ul>
        </div>
    </div>
    </div>
</nav>


