<div  class="about-styles text-center ">
    <div class="overlay">	
    	<img src="assets/images/devices.jpg" class="img-header">
    	<div class="middle-title">
    		<div class="title-container">
    			<h1 class="white bold ">
	    			“If you cannot measure it, You cannot improve it.”
	    		</h1>
    		</div>
    	</div>
	</div>
</div>
<section class="bg-white">
	<div class="container">
		<div class="raw">
			<div class="col-sm-12 text-center">
				<h2 class="primary-blue bold ">
					AirOwl
				</h2>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 no-padding">
				<div class="col-sm-6">
					<img class="devices-img img-responsive" src="assets/images/devices-airowl.png">
				</div>
				<div class="col-sm-6 vertical-center-parent text-center">
					<div class="vertical-center">
						<p>
							Airowl is a D-i-Y (Do-it-Yourself) kit which helps you to build your own personal Air Quality Monitoring device. The device would give you real-time air quality data on the app and update you of the air that you are breathing.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-gray">
	<div class="container">
		<div class="raw">
			<div class="col-sm-12 text-center">
				<h2 class="primary-blue bold ">
					Environment Monitoring Kit (EMK)
				</h2>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 no-padding">
				
				<div class="col-sm-6 vertical-center-parent text-center">
					<div class="vertical-center">
						<p>
							The Environment Monitoring Kit (EMK) is a device which assesses different parameters of air-quality. The device has been assembled with an aim of being cost-effective and easily scalable. The design of the device is such that it requires to be mounted onto a wall in a semi-open space to assess the air-quality of the region. The device is equipped with a solar panel and has a battery backup upto 3 hours. The shape of the box is designed to make it water resistant (incase of rainfall). The device is also equipped with GPS, GPRS and WIFI capabilities to transmit the data and location to the servers. The device, however requires a power source of 5 VA power through any USB compatible device or charger, making it less power hungry during its functioning.
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<img class="devices-img img-responsive" src="assets/images/devices-ioda.png">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="black-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center white col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="margin-bottom-50">
                        <h2 class="white-font bold">
                            IT'S TIME TO GIVE THE ENVIRONMENT A CLOSER LOOK.<br>
                            LET'S JOIN HANDS FOR HEALTHIER TOMORROW!
                        </h2>    
                    </div>
                    <div class="text-center margin-bottom-50">
                        <a class="btn btn-transparent" href="https://docs.google.com/forms/d/1G1SyMFx8aZJWFlY1_DqArcs6G7F9Lk8RLz5_SJREQuE/viewform?c=0&w=1" target="_blank">Join Us!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>