<div  class="home-styles text-center">
        <div class="overlay">
            <div class="landing-content black-transparent">
                <div class=" padding-default ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="col-sm-12 mobile-no-padding vertical-center-parent">
                                <div class="">

                                    <div class="col-sm-12 text-left mobile-no-padding" style="margin: 0 auto">
                                        <div class="text-left" style="min-height:180px;">
                                            <!--img class="home-airowl img-responsive " src="assets/img/AirOwl_Logo_white-01.svg"-->
                                        </div>
                                        <div class="text-left margin-bottom-50">
                                            <h2 style="margin-bottom:0px; text-align:left; ">When People Pollute,</h2>
                                            <h2 class="no-top-margin" style="text-align:left;">The AirOwl Hoot.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Below Home section
    ==========================================-->
    <section class="below-home-section home-repeat-bg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center"> 
                    <div class="margin-bottom-default hr-orange">
                        <span class="h1 primary-black font-capital title ">Airowl is here</span>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <p>
                                Airowl is a D-i-Y (Do-it-Yourself) kit which helps you to build your own personal air quality monitoring device. The device offers access to real-time air quality data through an app and will constantly update you on the quality of air that you are currently breathing.
                            </p>
                            <p>
                                If you have an open-source device which is accurate and reliable in monitoring real time air-quality data that you you may want people to use and also contribute the information, kindly contact us.

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <div class="min-height-350">
                                <img class="img-responsive img-middle" src="assets/img/airowl.gif">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--div class="col-sm-12 primary-black margin-top-default line-height-20 margin-bottom-default">
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/diy.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h3 class="no-margin">DIY KIT</h3>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        Trust us, it is as easy as making something out of the lego toys. Assembling it is fun!
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/affordable.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h3 class="no-margin">AFFORDABLE</h3>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        You need not to spend your entire savings into it because we value your money!
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/accurate.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h3 class="no-margin">ACCURATE</h3>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        The devices have been calibrated for hours and offer the best possible accurate data on air-quality.
                                    </h4>
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: white;padding-top:0px;padding-bottom:0px;" >
        <section class="secondary-white-bg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align: center;" >
                    <!-- <div class="col-sm-4" style="padding: 30px 15px">
                        <img class="img-responsive img-middle" src="assets/img/devices-airowl.png">
                    </div> -->
                        <div class="margin-bottom-default">
                            <span class="h1 primary-black font-capital title red no-border">Buy your owl now</span>
                        </div>
                     </div> </div>

                        <!-- <div class="margin-bottom-default">
                            <p>
                                Assemble your personal AirOwl and monitor the air quality with timely alerts on any unusual activity around your vicinity.
                            </p>
                        </div> -->
            <div class="row">  
                <div class="col-sm-12 col-lg-10 col-lg-8 col-lg-offset-2 col-md-offset-1">
                    <div class="col-sm-6">
                        <div class="text-center margin-bottom-10p">
                            <img class="img-responsive img-middle" src="assets/img/OWL_3g.jpg">
                            <div class="text-center red margin-bottom-10p">
                                <i class="fa fa-inr" style="margin-right:5px"></i> 5,000/-
                            </div>
                             <a href="https://www.instamojo.com/AirOwl/airowl/" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Buy AirOwl 3G" data-token="4aaf75271bbcbaa4e9d9bc35a38433d1"></a>
                             <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="text-center">
                            <img class="img-responsive img-middle" src="assets/img/OWL_wi.jpg">
                            <div class="text-center red margin-bottom-10p">
                                <i class="fa fa-inr" style="margin-right:5px"></i> 5,000/-
                            </div>
                            <a href="https://www.instamojo.com/AirOwl/airowl-wi/" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Buy AirOwl Wi" data-token="4aaf75271bbcbaa4e9d9bc35a38433d1"></a>
                            <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
                        </div>
                        
                    </div>
                    <div class="col-sm-12 text-center">
                        <span class="red bold" >
                            Use Discount codes FIRST1000 (1001/- off).<br> if purchasing more than 10 then PACKOF10. (1501/- off)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="real-data-home-bg no-top-padding no-bottom-padding">
        <div itemscope itemtype="http://schema.org/Property" class="black-transparent mobile-no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 margin-v-50">
                        <div class="col-sm-6 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    Portable and easy assembling
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    Designed for all age groups. Simple and easy assembly. No additional tools required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin-bottom-50">
                        <div class="col-sm-6 col-md-offset-3 col-lg-offset-3 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    Consistent Performance and Low Maintenance
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    The device runs consistently and only requires some dusting for maintenance (once every 3-5 months).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin-bottom-50">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    Advance Visualization
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    Information is offered in the form of graphs and charts. You can easily understand, monitor and compare the data daily, weekly, monthly and yearly.  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section id="half-colored">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="margin-bottom-50">
                        <span class="h1 primary-black font-capital white title title-border">Know your AirOwl</span>
                        <hr id="white">
                    </div>
                    <div class="row" style="margin-bottom:40px;">
                        <div class="col-sm-12 col-md-8 col-lg-8 margin-bottom-100 white-font col-md-offset-2 col-lg-offset-2" >
                            <p >
                                The AirOwl platform is designed for the people to be a part of this revolutionary change. People from different countries, cities and streets can contribute to the society by sharing their data and help in creating a hub for open indicators and distributed tools.
                            </p>
                        </div>
                    </div>
                    <div class="row" style="">
                    <div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" style="margin-top: -130px">
                    <tabset class="airowl-tab" class ="top-space">
                        <tab heading="ARDUINO NANO"  >
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz" >
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/arduino_nano.png">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            A versatile, embedded micro-controller board based upon the popular Arduino format. It can be used on breadboards and can be powered via a Mini-B USB connection, a 6-20V unregulated external power supply, or 5V regulated external power supply. It has 16KB of programmable memory and 14 GPIO pins.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="DUST SENSOR" class ="bottom-space">
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/dust_sensor.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The dust sensor provides a good indication of the air quality by measuring the dust concentration. This dust sensor is versatile, accurate and compact in size. Using laser scattering theory, the dust particles present in air are detected, with good selectivity and stability.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="GSM BOARD" class ="bottom-space">
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/gsm.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            An ultra-compact and reliable wireless module, the SIM900A is a complete dual-band GSM/GPRS solution in a SMT module. It can be easily embedded in the customer applications. It accepts commands from Arduino Nano through UART. It has an external antenna as well.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="ADAPTER" class ="bottom-space">
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/adapter.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The simple 5V adapter is the power source for this device. The design of the adapter is similar to that of your mobile adapters. It comes with a one meter length chord.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="CASING" class ="bottom-space">
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/casing.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The design of the casing is simple yet beautiful. AirOwl can become a part of your prized antiques or gadgets that you have in your house as it is very attractive.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="margin-bottom-default hr-orange">
                        <span class="h1 primary-black font-capital title ">Resources!</span>
                        <hr>
                    </div>
                    <div class="row margin-bottom-default">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <p>
                                It's never late, Good deeds often brings happiness to you and to the people around. Start caring through sharing!
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-offset-3">
                        <a class="btn btn-default btn-red fa-btn-custom" href="https://github.com/IndiaOpenDataAssociation/India-Open-Environment-Data-Project/tree/master/Airowl" target="_blank"> <i class="fa fa-github"></i> Github <br> <span class="small-desc">(Technical Details)</span> </a>
                         <a class="btn btn-default btn-red fa-btn-custom" href="
                            http://knowledge.indiaopendata.com/index.php/AirOwl" target="_blank"> <i class="fa fa-wikipedia-w"></i> Wiki <br> <span class="small-desc">(Assembly Details)</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="know-everything-home-bg no-bottom-padding no-top-padding">
        <div itemscope itemtype="http://schema.org/Property" class="black-transparent padding-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center"> 
                        <div class="margin-bottom-50">
                            <span class="h1 primary-black font-capital title white-border white">Buy owl now and contribute data</span>
                            <hr id="whitelong">
                        </div>
                        <div class="row margin-bottom-50">
                            <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                                <p class="white">
                                    Airowl is a simple and easy to assemble kit that can help you personally monitor the air-quality around you. It offers real-time data on air-quality and also the option of contributing it to an open-data platform for a wider community awareness and promote community action for better air-quality management. 
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 margin-v-25">
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/city.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">city</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                City life is infected by the epidemic of air pollution. With advancement in technology, our cities can improve. Through proper monitoring and community action, air pollution can be better addressed. We as responsible citizens have to act accordingly. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/research.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">RESEARCH</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                Our tools are open-source. Utilize them in building new products and set an example to showcase how technology, environment and people, together can improve the life on earth and make it more worthy.  
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/persons.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">COMMUNITY</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We are a community driven by the common goal of achieving better air-quality management.  Help us by joining our group and creating a wider awareness about this global concern and help those in need.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/institution.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">INSTITUTION</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                Institutional learning can help young minds to actively participate in the global discussion on air pollution. Seminars and workshops can provide the students the knowledge to address this matter better.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/personal.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">personal spaces</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                Indoor air pollution is even more harmful than outdoor air pollution. We fail to understand it because we lack the knowledge about it. Now we can. Take part in addressing air pollution holistically. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/developers.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">Developers</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                Our initiative is an open-source project and we request you to feel free in using our designs and framework to develop something better. We would like you to contribute to this sincere initiative so that more and more people can benfit from it.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-yellow" href="http://knowledge.indiaopendata.com/index.php/Open_Environment_Data_Project" target="_blank"> Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="secondary-white-bg " style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <!--div class="margin-bottom-50">
                        <span class="h1 primary-black font-capital title">We are ten of the billions!</span>
                    </div>
                    <div class="text-center margin-bottom-50">
                        <p>
                            We are a team of researchers, strategists, environmentalists, designers and techies who have gathered from different professional domains, trying to solve the  global environmental concerns and striving to make earth, a better place to live. We all belong to the MAKER community. We enjoy working on novel concepts and products that can make a difference to the people and to the society. We are keen to address the bigger problems and we have a "Life Centric" approach in our mind in developing something that can be relevant to humans, animals, birds, plants and mother earth. We are currently focusing on the fundamental basics of life, i.e., Air, Water and Soil. We do not consider bad air quality as a problem because we cannot see it nor measure it. Thus developing a technology to measure the accurate air quality and make it visible to others is our primary goal.
                        </p>
                    </div-->
                    
                </div>
            </div>
        </div>
    </section>
    <section class="black-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center white col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="margin-bottom-50">
                        <h2 class="white-font bold">
                            Time to join hands to address air pollution.<br> Time to buy airowl and contribute data
                        </h2>    
                    </div>
                    <div class="text-center margin-bottom-50">
                        <a class="btn btn-transparent" href="https://docs.google.com/forms/d/1G1SyMFx8aZJWFlY1_DqArcs6G7F9Lk8RLz5_SJREQuE/viewform?c=0&w=1" target="_blank">Join Us!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>