<div  class="home-styles text-center">
        <div class="overlay">
            <div class="landing-content black-transparent">
                <div class="container padding-default ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="col-sm-12 col-md-8 col-md-offset-2 mobile-no-padding vertical-center-parent">
                                <div class="">
                                    <div class="col-sm-12 text-center mobile-no-padding" style="margin: 0 auto">
                                        <div class="text-center">
                                            <img class="home-airowl img-responsive " src="assets/img/AirOwl_Logo_white-01.svg">
                                        </div>
                                        <div class="text-center margin-bottom-50">
                                            <h2 style="margin-bottom:0px">Join the movement!</h2>
                                            <h2 class="no-top-margin">Citizens tackle Air-Pollution</h2>
                                        </div>
                                        <div class="text-center margin-bottom-50 padding-top-10">
                                            <button onclick="$('html, body').animate({ scrollTop: $(document).height()-2000 }, 1000);" class="btn btn-transparent">Get your own Owl</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Below Home section
    ==========================================-->
    <section class="below-home-section home-repeat-bg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center"> 
                    <div class="margin-bottom-default hr-orange">
                        <span class="h1 primary-black font-capital title ">Airowl is here</span>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <p>
                                Airowl is a D-i-Y (Do-it-Yourself) kit which helps you to build your own personal air quality monitoring device. The device offers access to real-time air quality data through an app and will constantly update you on the quality of air that you are currently breathing.
                            </p>
                            <p>
                                If you have an open-source device which is accurate and reliable in monitoring real time air-quality data that you you may want people to use and also contribute the information, kindly contact us.

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <div class="min-height-350">
                                <img class="img-responsive img-middle" src="assets/img/airowl.gif">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 primary-black margin-top-default line-height-20 margin-bottom-default">
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/diy.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h3 class="no-margin">DIY KIT</h3>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        Trust us, it is as easy as making something out of the lego toys. Assembling it is fun!
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/affordable.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h3 class="no-margin">AFFORDABLE</h3>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        You need not to spend your entire savings into it because we value your money!
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/accurate.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h3 class="no-margin">ACCURATE</h3>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        The devices have been calibrated for hours and offer the best possible accurate data on air-quality.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="real-data-home-bg no-top-padding no-bottom-padding">
        <div itemscope itemtype="http://schema.org/Property" class="black-transparent mobile-no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 margin-v-50">
                        <div class="col-sm-6 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    Portable and easy assembling
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    The kit is designed for people of all age groups. You may not even require any additional tool to make the device.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin-bottom-50">
                        <div class="col-sm-6 col-md-offset-3 col-lg-offset-3 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    SIMPLE AND EASY TO SET UP
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    We have made sure that you instanlty get connected to your device. Simply login to the platform and register your device and start monitoring the air around you!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin-bottom-50">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    ADVANCE VISUALISATION
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    Graphs speak more than numbers. You can observe the changing patterns of air quality and analyse the daily, weekly as well as monthly trends at any time. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="half-colored">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="margin-bottom-50">
                        <span class="h1 primary-black font-capital white title title-border">Know your Airowl</span>
                        <hr id="white">
                    </div>
                    <div class="row" style="margin-bottom:40px;">
                        <div class="col-sm-12 col-md-8 col-lg-8 margin-bottom-100 white-font col-md-offset-2 col-lg-offset-2" >
                            <p >
                                We have connected the dots for you. The AirOwl platform is designed for the people to be a part of this revolutionary moment. People from different countries,cities and streets can contribute to the society by sharing their data and thus it can help in creating a hub for open indicators and distributed tools.
                            </p>
                        </div>
                    </div>
                    <div class="row" style="">
                    <div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" style="margin-top: -130px">
                    <tabset class="airowl-tab" class ="top-space">
                        <tab heading="ARDUINO NANO"  >
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz" >
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/arduino_nano.png">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The Arduino nano is a versatile, embedded micro-controller board based upon the popular Arduino format. It can, quite conveniently, be used on breadboards and can be powered via a Mini-B USB connection, a 6-20V unregulated external power supply, or 5V regulated external power supply. The Arduino nano can be programmed using a software package, written in Java, called Arduino. It has 16KB of programmable memory and 14 GPIO pins.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="DUST SENSOR" class ="bottom-space">
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/dust_sensor.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            This Dust Sensor gives a good indication of the air quality in an environment by measuring the dust concentration. This dust sensor is versatile, accurate and compact in size. Using laser scattering theory, the presence of air, dust particles were detected, with good selectivity and stability.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="GSM BOARD" class ="bottom-space">
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/gsm.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            This is an ultra compact and reliable wireless module. The SIM900A is a complete Dual-band GSM/GPRS solution in a SMT module which can be embedded in the customer applications allowing you to benefit from small dimensions. It accepts commands from Arduino Nano through UART. It has an external antenna.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="ADAPTER" class ="bottom-space">
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/adapter.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The simple 5V adapter is the power source for this device. The design of the adapter is similar to that of your mobile adapters. It comes with a one meter lenth chord.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="CASING" class ="bottom-space">
                            <div class="abc">
                                <div class="col-sm-12 bg-darker-gray tab-div xyz">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/casing.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The design of the casing is simple yet beautiful. AirOwl can become a part of your prized antiques or gadgets that you have in your house as it is very attractive.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="margin-bottom-default hr-orange">
                        <span class="h1 primary-black font-capital title ">Resources!</span>
                        <hr>
                    </div>
                    <div class="row margin-bottom-default">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <p>
                                It's never late, Good deeds often brings happiness to you and to the people around. Start caring! 
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-offset-3">
                        <a class="btn btn-default btn-red fa-btn-custom"> <i class="fa fa-github"></i> Github </a>
                         <a class="btn btn-default btn-red fa-btn-custom"> <i class="fa fa-wikipedia-w"></i> Wikipedia </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="know-everything-home-bg no-bottom-padding no-top-padding">
        <div itemscope itemtype="http://schema.org/Property" class="black-transparent padding-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center"> 
                        <div class="margin-bottom-50">
                            <span class="h1 primary-black font-capital title white-border white">Everyone can benefit from this!</span>
                            <hr id="whitelong">
                        </div>
                        <div class="row margin-bottom-50">
                            <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                                <p class="white">
                                    Airowl is a D-i-Y (Do-it-Yourself) kit which helps you to build your own personal air quality monitoring device. The device would give you access to real-time air quality data through an app and update you on the air that you are currently breathing.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 margin-v-25">
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/city.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">city</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                The city is ours and we want to know what's going on within it. We want our city to be clean and healthy forever. With the advancement in technology, our cities life can improve. The ultimate decision is ours as we are the ones who will be staying there and therefore, we have to act accordingly. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/research.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">RESEARCH</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We want you to bring the change globally. Utilize our resources to build new products and set an example where you can showcase how technology, environment and people, together, improve the life on earth and make it more worthy!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/persons.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">COMMUNITY</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We are a family. Though we do not know everyone but still we are connected. Let’s form a group and launch a platform; where we create awareness amongst the people about the global concerns; and try to help those in need.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/institution.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">INSTITUTION</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We want to encourage the young minds to actively participate in the global discussion about air pollution and climate change. Schools, colleges and institutions can contribute through seminars and discussions to provide students the needed exposure on such matters.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/personal.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">personal spaces</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We often relate pollution as a problem that lies outside our homes. We always feel safe and secure indoors. However, we are wrong here. Indoor air is even more harmful than the air outside. We fail to understand it because we haven't experienced it. But now we can!!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/developers.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">Developers</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                Our initiative is an open-source project and we request you to feel free in using our designs and framework to develop something better. We would like you to contribute to this sincere initiative so that more and more people can benfit from it.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: white;" >
        <section class="secondary-white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align: center;" >
                    <!-- <div class="col-sm-4" style="padding: 30px 15px">
                        <img class="img-responsive img-middle" src="assets/img/devices-airowl.png">
                    </div> -->
                        <div class="margin-bottom-default">
                            <span class="h1 primary-black font-capital title red no-border">Get your owl now</span>
                        </div>
                     </div> </div>

                        <!-- <div class="margin-bottom-default">
                            <p>
                                Assemble your personal AirOwl and monitor the air quality with timely alerts on any unusual activity around your vicinity.
                            </p>
                        </div> -->
            <div class="row">  
                <div class="col-sm-12 col-lg-10 col-lg-8 col-lg-offset-2 col-md-offset-1">
                    <div class="col-sm-6">
                        <div class="text-center">
                            <img class="img-responsive img-middle" src="assets/img/OWL_3g.jpg">
                             <a href="https://www.instamojo.com/AirOwl/airowl/" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Get your AirOwl 3G" data-token="4aaf75271bbcbaa4e9d9bc35a38433d1"></a>
                             <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-center">
                        <img class="img-responsive img-middle" src="assets/img/OWL_wi.jpg">
                            <a href="https://www.instamojo.com/AirOwl/airowl-wi/" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Get your AirOwl Wi" data-token="4aaf75271bbcbaa4e9d9bc35a38433d1"></a>
                            <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secondary-white-bg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="margin-bottom-50">
                        <span class="h1 primary-black font-capital title">We are ten of the billions!</span>
                    </div>
                    <div class="text-center margin-bottom-50">
                        <p>
                            We are a team of researchers, strategists, environmentalists, designers and techies who have gathered from different professional domains, trying to solve the  global environmental concerns and striving to make earth, a better place to live. We all belong to the MAKER community. We enjoy working on novel concepts and products that can make a difference to the people and to the society. We are keen to address the bigger problems and we have a "Life Centric" approach in our mind in developing something that can be relevant to humans, animals, birds, plants and mother earth. We are currently focusing on the fundamental basics of life, i.e., Air, Water and Soil. We do not consider bad air quality as a problem because we cannot see it nor measure it. Thus developing a technology to measure the accurate air quality and make it visible to others is our primary goal.
                        </p>
                    </div>
                    <div class="text-center">
                        <button  class="btn btn-yellow">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="black-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center white col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="margin-bottom-50">
                        <h2 class="white-font bold">
                            IT'S TIME TO GIVE THE ENVIRONMENT A CLOSER LOOK.<br>
                            LET'S JOIN HANDS FOR HEALTHIER TOMORROW!
                        </h2>    
                    </div>
                    <div class="text-center margin-bottom-50">
                        <a class="btn btn-transparent" href="https://docs.google.com/forms/d/1G1SyMFx8aZJWFlY1_DqArcs6G7F9Lk8RLz5_SJREQuE/viewform?c=0&w=1" target="_blank">Join Us!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>