<div  class="home-styles text-center ">
        <div class="overlay">
            <div class="landing-content black-transparent">
                <div class="container padding-default ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="col-sm-12 col-md-8 col-md-offset-2 mobile-no-padding vertical-center-parent">
                                <div class="vertical-center">
                                    <div class="col-sm-12 text-center mobile-no-padding">
                                        <div class="text-center">
                                            <img class="home-airowl img-responsive " src="assets/img/home/airowl-about.svg">
                                        </div>
                                        <div class="text-center margin-bottom-default">
                                            <h2 style="margin-bottom:0px">For Anyone and Everyone!</h2>
                                            <h2 class="no-top-margin">Community initiative to fight against Air-Pollution</h2>
                                        </div>
                                        <div class="text-center margin-bottom-10p">
                                            <button onclick="$('html, body').animate({ scrollTop: $(document).height() }, 1000);" class="btn btn-transparent">Get your own Owl</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Below Home section
    ==========================================-->
    <section class="below-home-section home-repeat-bg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center"> 
                    <div class="margin-bottom-default">
                        <span class="h1 primary-black font-capital title title-border">Airowl is here</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <p>
                                Airowl is a D-i-Y (Do-it-Yourself ) kit which helps you to build your own personal Air Quality Monitoring device. The device would give you real-time air quality data on the app and update you of the air that you are breathing.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                            <div class="min-height-350">
                                <img class="img-responsive img-middle" src="assets/img/airowl.gif">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 primary-black margin-top-default line-height-20 margin-bottom-default">
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/diy.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h2 class="no-margin">DIY KIT</h2>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        Trust us, it is as easy as making something out of the lego toys. Assembling it is fun!
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/affordable.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h2 class="no-margin">AFFORDABLE</h2>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        You need not to spend your entire savings into it because we value your money!
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center mobile-margin-top">
                                <div class="margin-bottom-10p">
                                    <img src="assets/img/home/diy/accurate.png" class="img-responsive img-middle img-120">
                                </div>
                                <div class="margin-bottom-10p">
                                    <h2 class="no-margin">ACCURATE</h2>
                                </div>
                                <div class="text-center mobile-center">
                                    <h4 class="no-margin">
                                        The devices are calibrated for hours and we have tried our best to get highest accuracy.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="real-data-home-bg no-top-padding no-bottom-padding">
        <div itemscope itemtype="http://schema.org/Property" class="black-transparent padding-default mobile-no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 margin-v-50">
                        <div class="col-sm-6 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    Portable and easy assembling
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    The kit is designed for people of all age groups. You may not even require any additional tool to make the device.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin-bottom-50">
                        <div class="col-sm-6 col-md-offset-3 col-lg-offset-3 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    SIMPLE AND EASY TO SET UP
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    We make sure that you get connected to your device instantly. Just login to your device and start monitoring the air around!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin-bottom-50">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6 white-card-bg">
                            <div class="">
                                <p class="title-card-bg">
                                    ADVANCE VISUALISATION
                                </p>
                            </div>
                            <div class="">
                                <p class="desc-card-bg">
                                    Graphs speak more than the numbers. You can observe and analyse the daily, weekly as well as monthly phenomenon. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-yellow">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="margin-bottom-default">
                        <span class="h1 primary-black font-capital white title title-border">Know your Airowl</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 white-font col-md-offset-2 col-lg-offset-2">
                            <p>
                                We have connected the dots for you. The AirOwl platform is designed and structured for the participants of this revolutionary moment. People from different countries,cities and streets have contributed to the society and thus it creates a hub for open indicators and distributed tools.
                            </p>
                        </div>
                    </div>
                    <tabset class="airowl-tab">
                        <tab heading="ARDUINO NANO">
                            <div class="">
                                <div class="col-sm-12 bg-gray tab-div">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/arduino_nano.png">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The Arduino nano is a versatile, embedded micro-controller board based upon the popular Arduino format. It can, quite conveniently, be used on breadboards and can be powered via a Mini-B USB connection, a 6-20V unregulated external power supply, or 5V regulated external power supply. The Arduino nano can be programmed using a software package, written in Java, called Arduino. It has 16KB of programmable memory and 14 GPIO pins.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="DUST SENSOR">
                            <div class="">
                                <div class="col-sm-12 bg-gray tab-div">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/dust_sensor.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            This Dust Sensor gives a good indication of the air quality in an environment by measuring the dust concentration. This dust sensor is versatile, accurate and compact in size. Using laser scattering theory, the presence of air, dust particles were detected, with good selectivity and stability.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="GSM BOARD">
                            <div class="row">
                                <div class="col-sm-12 bg-gray tab-div">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/gsm.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            This is an ultra compact and reliable wireless module. The SIM900A is a complete Dual-band GSM/GPRS solution in a SMT module which can be embedded in the customer applications allowing you to benefit from small dimensions. It accept commands from Arduino Nano through UART. It has external antenna.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="ADAPTER">
                            <div class="">
                                <div class="col-sm-12 bg-gray tab-div">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/adapter.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The simple 5V adapter is the power source for the device.
                                            The design of the adapter is same to that of your mobile adapters.
                                            It comes with one meter lenth chord.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="CASING">
                            <div class="">
                                <div class="col-sm-12 bg-gray tab-div">
                                    <div class="col-sm-6">
                                        <img class="img-middle img-tab img-responsive" src="assets/img/oizom_pcb.jpg">
                                    </div>
                                    <div class="col-sm-6 vertical-center-parent padding-25 tab-v-container text-left">
                                        <div class="vertical-center">
                                        <p class="primary-black">
                                            The design of the casing is simple yet beautiful. AirOwl can become a part of the family of antiques or gadgets you have in your house and it is really attractive.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
    <section class="know-everything-home-bg no-bottom-padding no-top-padding">
        <div itemscope itemtype="http://schema.org/Property" class="black-transparent padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center"> 
                        <div class="margin-bottom-default">
                            <span class="h1 primary-black font-capital title white-border white">Everyone can benefit from this!</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                                <p class="white">
                                    Airowl is a D-i-Y (Do-it-Yourself ) kit which helps you to build your own personal Air Quality Monitoring device. The device would give you real-time air quality data on the app and update you of the air that you are breathing.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 margin-v-25">
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/city.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">city</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                The city is ours, we want to know what’s going within and we want it be clean and healthy. With the advancement in technology, our cities lives have improved. But ultimately, we are the ones you will stay there so we have to act accordingly.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/research.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">RESEARCH</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We want you to bring the change globally. Utilize our resources to build new products and set an example where you can showcase how technology, environment and people, together, improve the life on earth and make it more worthy!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/persons.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">COMMUNITY</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We are a family. Though we do not know everyone but still we are connected. Let’s form a group and launch a platform; where we create awareness amongst the people about the global concerns; and try to help those in need.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/institution.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">INSTITUTION</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We want to encourage the young mind and also want them to actively participate in the global discussion about air pollution and climate change. Schools and colleges can have seminar where students get the exposure to such things.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/personal.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">personal spaces</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                We often relate pollution to the things which we see outside our homes. We always feel that it is safe indoors. But you are wrong here. Indoor air is more harmful than the air outside. We don’t care for it because we haven’t seen it.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mobile-no-padding">
                                    <div class="white-vertical-card">
                                        <div>
                                            <img class="img-responsive white-vertical-card-img" src="assets/img/community/developers.png">
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-title">Developers</p>
                                        </div>
                                        <div>
                                            <p class="white-vertical-card-desc">
                                                As mentioned, it is an open-source project so please feel free to use the designs and frameworks. Also, we would like you to contribute to this initiative so that it grows huge and more and more people can are benfitted from this.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secondary-white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-left">
                    <div class="col-sm-4" style="padding: 30px 15px">
                        <img class="img-responsive img-middle" src="assets/img/devices-airowl.png">
                    </div>
                    <div class="col-sm-8"> 
                        <div class="margin-bottom-default">
                            <span class="h1 primary-black font-capital title red no-border">Get your owl now</span>
                        </div>
                        <div class="margin-bottom-default">
                            <p>
                                Create spending budgets and monitor them with timely alerts And, receive alerts for any other unusual account activity.
                            </p>
                        </div>
                        <div class="text-center">
                            <button onclick="$('html, body').animate({ scrollTop: $(document).height() }, 1000);" class="btn btn-red" style="margin-top:100px;">Buy now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secondary-white-bg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="margin-bottom-50">
                        <span class="h1 primary-black font-capital title">We are ten of the billions!</span>
                    </div>
                    <div class="text-center margin-bottom-50">
                        <p>
                            We are a team of researchers, strategists, environmentalists, designers and techies who have gathered from different cores of their respective domains, trying to solve this global problem and striving to make the earth a better place to live. We all belong to the MAKER community. We  use to work on novel concepts and products to make a difference to some people or problem. But we were always keen to solve a bigger problem. We had a ‘Life Centric’ approach in mind. Something relevant to humans, animals, birds, plants and mother earth. We came down to the fundamental basics of life that is Air, Water and Food. We do not consider air-quality as a problem as we cannot see Air. Thus ’Making air visible through technology’ became our rst agenda. 
                        </p>
                    </div>
                    <div class="text-center">
                        <button onclick="$('html, body').animate({ scrollTop: $(document).height() }, 1000);" class="btn btn-yellow">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </section>