<div  class="about-styles text-center ">
    <div class="overlay">	
    	<img src="assets/images/community.jpg" class="img-header">
    	<div class="middle-title">
    		<div class="title-container">
    			<h1 class="white bold ">
	    			Join hands to become the agents of change. Be at the forefront of solution makers not pollution makers.
	    		</h1>
    		</div>
    	</div>
	</div>
</div>
<section class="bg-white">
	<div class="container">
		<div class="raw">
			<div class="col-sm-12 ">
				<div >
				</div>
			</div>
			<div class="col-sm-12 text-center margin-bottom-50">
				<p class="primary-black">
					If you share the same vision, interest, desire and the capability to achieve the common goals of solving the air-quality problem in your habitat — city, town, village, or any other part of the world, then please join our initiative.
				</p>
				<p class="primary-black">
					We don’t aim to offer the final solution, but we aim to bring your ideas, opinions, capabilities and strength to a wider public for active community participation. We do not aim for any specific target group's engagement. We welcome anyone from any walk of life to join us. We believe you can contribute to address this issue in your own unique way.
				</p>
			</div>
			<div class="col-sm-12 margin-bottom-default">
				<div class="col-sm-6 text-center">
					<div class="text-center margin-bottom-small">
						<span>
							<i class="fa fa-2x fa-wikipedia-w theme-color"></i>
						</span>
					</div>
					<p class="bold">Enhance ours as well as your knowledge base. Access our wiki to know more and add your feedback, knowledge to widen the boundaries of wisdom.</p>
				</div>
				<div class="col-sm-6 text-center">
					<div class="text-center margin-bottom-small">
						<span>
							<i class="fa fa-2x fa-creative-commons theme-color"></i>
						</span>
					</div>
					<p class="bold">Be the agents of change. Help in the redesign of the open source solutions (hardware, software, server, visualisation) we have as of now with us.</p>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6 text-center">
					<div class="text-center margin-bottom-small">
						<span>
							<i class="fa fa-2x fa-database theme-color"></i>
						</span>
					</div>
					<p class="bold">More data means more knowledge. Kindly donate your air-quality data to the platform.</p>
				</div>
				<div class="col-sm-6 text-center">
					<div class="text-center margin-bottom-small">
						<span>
							<i class="fa fa-2x fa-share-alt theme-color"></i>
						</span>
					</div>
					<p class="bold">Actions are multi-dimensional. Kindly share the knowledge of your recommended actions.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-gray">
	<div class="container">
		<div class="raw">
			<div class="col-sm-12 ">
				<div >
					<h2 class="text-center primary-blue margin-bottom-25 capital-font">
						Resources
					</h2>
				</div>
			</div>
			<div class="col-sm-12 text-center margin-bottom-50">
				<div class="col-sm-3 text-center">
					<div class="div-center">
						<a href="http://knowledge.indiaopendata.com/index.php/People" target="_blank">
						<span><i class="fa fa-users primary-black"></i></span>
						</a>
					</div>
					<p class="h4 primary-black"> People </p>
				</div>
				<div class="col-sm-3 text-center">
					<div class="div-center">
						<a ui-sref="devices.index">
						<span><i class="fa fa-cog primary-black"></i></span>
						</a>
					</div>
					<p class="h4 primary-black"> Devices </p>
				</div>
				<div class="col-sm-3 text-center">
					<div class="div-center">
						<a href="https://github.com/IndiaOpenDataAssociation/India-Open-Environment-Data-Project" target="_blank">
						<span><i class="fa fa-github"></i></span>
						</a>
					</div>
					<p class="h4 primary-black"> Github </p>
				</div>
				<div class="col-sm-3">
					<div class="div-center">
						<a ui-sref="api.index">
						<span><i class="fa fa-server primary-black"></i></span>
						</a>
					</div>
					<p class="h4 primary-black capital-font"> Api </p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="black-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center white col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="margin-bottom-50">
                        <h2 class="white-font bold">
                            IT'S TIME TO GIVE THE ENVIRONMENT A CLOSER LOOK.<br>
                            LET'S JOIN HANDS FOR HEALTHIER TOMORROW!
                        </h2>    
                    </div>
                    <div class="text-center margin-bottom-50">
                        <a class="btn btn-transparent" href="https://docs.google.com/forms/d/1G1SyMFx8aZJWFlY1_DqArcs6G7F9Lk8RLz5_SJREQuE/viewform?c=0&w=1" target="_blank">Join Us!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>