    /*** global styles ***/

* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}
.img-avatar{
    height: 35px;
    margin-top: 3px;
}
@media (min-width: 300px) and (max-width: 728px){
      .margin-10px{
        margin: 20px;
        padding:20px;
    }
     #avatarimg{
    margin: 0 auto;
    margin-right:20px;
    width:40px;
    float: left;
    }
    .leftfloat{
        float: left;
    }
    .svg-center{
    align-self: center;
    position: relative;
    width: 100%;
    }
    .home-label-container{
    position: relative;
    width: 100%;
    top: 50%;

    text-align: center;
    align-self: center;
    }
    .img-bottom-nav{
    height: 30px;
    width: 33%;
   /* float: right;*/
/*    position: absolute;*/
  /*  top: 200px;*/
  align-self: center;
    margin: 0 auto;
/*    position: absolute;*/
    }

    .bottom-nav-icons > div{
    padding:8px 0px;
    cursor: pointer;
    width: 33.33%;
    align-self: center;
    height: 50px;
    position: relative;
    float: left;
    background-color: rgba(255, 255, 255, 0.1);
    }
    .bottom-row{
    position: static;
    background-color: #464f56;
 /*   bottom: 25px;*/
    bottom: 0px;
    width: 100%;
    }   


    .aqi-container{
    position: absolute;
    top:77px;
    font-family: "bebasneue";
    font-size: 56px;
    width: 50%;
    text-align: center;
    }
    .aqi-label-container{
    position: absolute;
    top:140px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    }
    body.dashboard{
        overflow-y: auto !important;
    }
    .div-68{
    padding:8px;
    }
    .div-68 img{
    max-height: 26px;
    margin:auto;
    float: left;
    padding-right: 10px;
    }
    .trans-bg.img-container{
    padding: 8px;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    float: left;

    }
    .trans-bg.img-container img{
        max-height: 27px;
       float: left;
    }
    .trans-bg.label-container{
        padding: 7px 8px 6px 8px;
        border-radius: 3px;
        float: left;
    }
    .chart-container{
    max-height: 200px;
    width: 100%
    padding-right:20px;
    background-color: #464f56;
}
.chart {
  background: conic-gradient(#f15854 4%, #4d4d4d 0 8%, #5da5da 0 17%, #decf3f 0 48%, #b276b2 0 54%, #faa43a 0);
  border-radius: 50%;
  width:100%;
  height: 0;
  padding-top: 50%;
  float: left;
  padding-right: 20px;
}
     .g-label{
    font-size: 12px;
    color: #fff;
    position: relative;
    margin-top: 12px;
   /* top: 10%;*/
    font-weight: bold;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-top-color: white;
        background-color: #00b3bf;

    }
    .collapse{
        display: none;
    }

    /*for menu collapsing*/
     {
  width: 30px;
  height: 30px;
  left:60%;
  position: relative;
  margin: 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
  z-index: 20000;
}

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #fff;
  opacity: 1;
  z-index: 20000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;

}
/* menu-overlay style */
.menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10000;
    left: 0;
    background: rgba(0,0,0,0.7);
}
.menu-overlay .btn{
    font-size: 18px;
}

/* menu-overlay closing cross */
.menu-overlay .menu-overlay-close {
    font-size: 42px;
    z-index: 10001;
    color: #fff;
    position: absolute;
    right: 20px;
    top:20px;
    }
}



/*@media (min-width: 548px) and (max-width: 728px){
    .g-label{
    font-size: 12px;
    color: #fff;
    position: relative;
    margin-top: 10%;
    font-weight: bold;
    }
    #avatarimg{
    margin: 0 auto;
    margin-right:20px;
    width:40px;
    float: left;
    }
     .svg-center{
    align-self: center;
   
    position: relative;
    width: 100%;
    }
    .home-label-container{
    position: relative;
    width: 100%;
    top: 50%;   
    text-align: center;
    align-self: center;
    }
     .bottom-row{
    position: absolute;
    background-color: #464f56;
    bottom: 5px;
    width: 100%;
    }
    .img-bottom-nav{
    height: 30px;
    width: 30px;
    margin: 0 auto;
    }
    .bottom-nav-icons > div{
    padding:8px 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    }
      .div-68{
    padding:8px;
    }
    .div-68 img{
    max-height: 26px;
    margin:auto;
    float: left;
    padding-right: 10px;
    }
    .bottom-nav-icons > div.active{
    padding:5px 0px;
    background-color: transparent;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-top-color: white;
    }

}*/
@media (min-width: 728px){
    .svg-center{
        left: 50%;
        position: relative;
        margin-left: -135px;
    }

   
    .trans-bg.img-container{
    padding: 8px;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    }
    .trans-bg.img-container img{
        max-height: 27px;
    }
    .trans-bg.label-container{
        padding: 7px 8px 6px 8px;
        border-radius: 3px;
    }
    .g-label{
    font-size: 12px;
    color: #fff;
    margin-top: 70px;
    font-weight: bold;
    }
    .bottom-row{
        position: absolute;
        background-color: #464f56;
        bottom: 5px;
        width: 100%;
    }

    .img-bottom-nav{
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 auto;
    }
    .bottom-nav-icons > div{
    padding:8px 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    }
    .bottom-nav-icons > div.active{
    padding:5px 0px;
    background-color: transparent;
    }

}
/*.img-bottom-nav{
    height: 30px;
    width: 30px;
    margin: 0 auto;
}
.bottom-nav-icons > div{
    padding:8px 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}
.bottom-nav-icons > div.active{
    padding:5px 0px;
    background-color: transparent;
}*/

html{
}
body{
    overflow-x: hidden;
}
.white-bg{
    background-color: #fff;
}
body.dashboard{
    overflow-y: hidden;
}
.no-overflow-y{
    overflow-y: hidden !important;
}
section{
    padding: 25px 0px;
}
html,
body,
.container-fluid {
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f3f3;
}

.container-fluid-no-padding{
    background: url(../web/assets/images/red-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding:25px;
    padding: 0px !important;
}

sup{
    color: #808080;
    left: 0.3em;
    font-weight: 700 !important;
    font-style: italic;
}
button, select, html, textarea, input{
   font-family: 'Open Sans', sans-serif;
}

i:active {
    box-shadow: none;
    box-sizing: none;
    outline: none;
}

.btn:focus,
.btn:hover,
li:focus, a:focus, i:focus, span:focus, div:focus, tr:focus, td:focus, textarea:focus, textarea:active{
    outline: none !important;
}

tbody tr:hover, .dataTable tbody tr:hover{
    background-color: #f3f3f3;
}
tr.hovered{
    background-color: #f3f3f3;
}
tr.bottom-bordered{
    border-bottom: 1px solid #ddd;
}
.margin-h-small{
    margin: 0px 10px;
}

.container-fluid:before,
.container-fluid:after,
.nav:before,
.nav:after {
    content: none;
}

.container-fluid {
    display: table;
    width: 100%;
    padding: 0px 0px 0px 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.content {
    background: #fafafa;
    padding: 0;
}

a,
a:hover,
a:focus {
    cursor: pointer;
    text-decoration: none;
}

.cursor-auto{
    cursor: auto !important;
}
.cursor-pointer{
    cursor: pointer;
}
a.white{
    color: #fff;
}

/** header styles **/
.header-select-container{
    display: inline-block;
}
.header-logo{
    margin: -5px 5px 0px 0px;
    height: 30px;
    width: 130px;
    display: inline;
}
.logo-text{
    font-size: 20px;
    font-weight: normal;
    color:#fff;
    margin-right: 5px;
}
.logo-text sup{
    font-size: 8px;
    font-weight: bold;
}
header {
    background: #ec1c24;
    color: #fff;
    height: 55px;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    /*-webkit-box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.75);
box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.75);
*/
}

/* jimish branch */
.no-padding{
    padding:0px;
}


.tab-box .nav.nav-tabs {
    width: 100%;
    float: left;
}

.tab-box .nav.nav-tabs li a,
.tab-box .nav.nav-tabs li a:hover,
.tab-box .nav.nav-tabs li a:focus {
    color: #141301;
}

.tab-box .nav.nav-tabs li.active a,
.tab-box .nav.nav-tabs li.active a:hover,
.tab-box .nav.nav-tabs li.active a:focus {
    color: #141301;
    font-weight: bold;
    background-color: #fafafa;
}
.padding-default{
    padding: 15px;
}
.nav > li > a:hover,
.nav > li > a:focus,
.sub-menu {
    background: #f3f3f3;
}
.sub-menu {
    margin-left: 70px;
    list-style: none;
}

.sub-menu > li > a {
    padding: 5px;
    color: #888888;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-pills.sub-menu > li.active > a,
.nav-pills.sub-menu > li.active > a:hover,
.nav-pills.sub-menu > li.active > a:focus {
    color: #000;
    background: transparent;
}
.form-container{
    background-color: #fff;
    border-radius: 5px;
}
.form-container h3{
    font-weight: normal !important;
    margin: 30px 0px;
}
.form-container h3.no-bottom-margin{
    font-weight: normal !important;
    margin: 30px 0px 0px 0px;
}
.form-container .btn-green{
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-container .checkbox{
    margin-top:0px;
    margin-bottom: 0px;
}
.form-container a.theme-link{
    font-size: 14px;
}
.custom-select-box{
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    background-color: #f5f6f6;
    font-size: 14px;
    margin-bottom: 0px;
}
.custom-select-box:focus, .custom-input-control:focus{
    outline: none !important;
    border: 1px solid #b2b1b2;
    background-color: #fff;
    
}
.custom-select-box option{
    padding: 10px 15px;
}
textarea.custom-input-control{
    resize: none;
    margin-bottom: 10px;
}
textarea.custom-input-control.no-margin{
    resize: none;
    margin-bottom: 0px;
}
.custom-input-control{
    padding: 10px 15px;
    font-weight: bold;
    background-color: #f5f6f6;
    margin-bottom: 0    px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    -webkit-transition:  0.5s ease;
    -moz-transition:  0.5s ease;
    -o-transition:  0.5s ease;
    transition:  0.5s ease;

}

.custom-input-search-control{
    padding: 7px 15px;
    font-weight: normal;
    background-color: rgba(255,255,255,0.1);
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    min-width: 400px;
    font-size: 14px;
    margin-right: 30px;
    text-align: left;
    color: #fff;
    -webkit-transition:  0.5s ease;
    -moz-transition:  0.5s ease;
    -o-transition:  0.5s ease;
    transition:  0.5s ease;
    box-shadow: none;
    outline: none;
    border-color: rgba(255,255,255,0.2);

}
input::-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;
}
 
input:-ms-input-placeholder {  
color: #fff !important;
}
.custom-input-search-control:hover, .custom-input-search-control:active, .custom-input-search-control:focus{
    outline: none;
    box-shadow: none;
    border-color: rgba(255,255,255,0.2);
}
.img-logo{
    width: 165px;
    height: 40px;
    margin:7px 0px 0px 10px;
}
.img-middle{
    margin: 0 auto;
}
/*  Navigation styling */
.custom-menu {
    padding: 20px;
    transition: all 0.2s;
}
.custom-menu .btn-transparent, .menu-overlay .btn-transparent{
    display: none;
}
.custom-menu.navbar-default {
    background-color: #00b3bf;
    min-height: 45px;
    border-color: #00b3bf;
    border-radius: 0px;
    padding: 3px 0px 0px 0px !important;
}
.custom-menu.navbar-default.sub-page-menu{
    background-color: #ec1c24;
    border-color: #ec1c24;
}
.custom-menu a.navbar-brand {
text-transform: uppercase;
font-size: 22px;
color: #fff;
font-weight: 900;
}
.primary-black{
    color: #3d3d3d;
}
.home-icon{
    font-size: 36px;
}
.custom-menu.navbar-default .navbar-nav > li > a {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 30px;
}
.custom-menu.navbar-default .navbar-nav > li > input{
    
}
.custom-menu.navbar-default .navbar-nav > li > button {
    margin: 0px;
    font-size: 16px;
    padding: 6px 10px;
}
.success-dialog{
    padding: 25px 25px 25px 0px;
    color: #64c832;
    display: none;
}
.error-dialog{
    padding: 25px 25px 25px 0px;
    color: #1a1a1a;
    display: none;
}

.error-box{
    display: none;
    font-size: 14px;

}
#search{
    display:block;
    text-align:center;
}
.margin-15{
    margin: 15px 0px;
}
.highcharts-container{
    margin:0 auto;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-default{
    margin-top: 20px;
}
.margin-bottom-default{
    margin-bottom: 20px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-v-50{
    margin-top: 50px;
    margin-bottom: 50px;
}
.angular-google-map-container{
    height: 100vh;
}
.bold{
    font-weight: bold !important;
}
.navbar-default{
    margin-bottom: 0px;
}
/*
    common styling
*/
.white-font{
    color: #fff;
}
a.white-font{
    color: #fff !important;
    color: 1;
}
a.white-font:focus,
a.white-font:active,
a.white-font:hover{
    opacity: 0.8;
}
section.no-padding{
    padding: 0px;
}
.no-top-margin{
    margin-top: 0px;
}

.display-inline{
    display: inline-block;
}
.margin-right-10{
    margin-right: 10px;
}
.img-circle{
    border-radius: 50%;
}
.margin-top-5{
    margin-top: 5px;
}
.padding-top-5{
    padding-top: 5px;
}
.padding-top-10{
    padding-top: 10px;
}
.margin-left-20{
    margin-left: 15px;
}
.padding-15{
    padding: 15px;
}
.no-top-padding{
    padding-top: 0px;
}
.no-bottom-padding{
    padding-bottom: 0px;
}
.margin-h-auto{
    margin: 0 auto;
}

h6, .h6{
    font-size: 11px;
}
.margin-right-4{
    margin-right: 4px;
}
.trans-bg{
    background-color: rgba(255, 255, 255, 0.1);
}
.activity-container{
    margin-bottom: 4px;
}

.label-container > p{
    margin : 5px 8px 5px 8px;
}
.div-68{
    padding:8px;
}
.div-68 img{
    max-height: 26px;
    margin:auto;
}
/* 
    Navbar header styling
*/

.navbar-header {
    padding:8px 30px;
    color: #fff;
    background-color: #00b3bf;
}
.navbar-header a{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}



}
.custom-menu.navbar-default .navbar-nav  > li > a{
    color: #fff;
}
.custom-menu.navbar-default .navbar-nav > li.active > a{
    color: #fff;
    font-weight: bold;
    background-color: transparent;
}
.navbar-nav > li > a{
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-nav > li.active{
    background-color: transparent;
    font-weight: bold;
    color: #fff;
}
/*
    menu styling
*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #464f56;
}
.nav-pills > li > a{
    border-radius: 0px;
}
.nav-pills > li > a:hover{
    background-color: #3d3d3d;
    color: #fff;
}
.menu{
    height:100vh;
    background-color:#eaeaea;
}
.nav-stacked > li + li{
    margin-top: 0px;
}


/*
    Modal window right hand side 
*/

.modal-window{
    background: #25345b;
    height: 85vh;
    width: 400px;
    float: right;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
}



/* modal styling
*/

.black-bg{
    background: #474747;
}
.name-container{
    padding: 8px 15px;
}
.name-container p{
    margin-bottom: 0px;
}

.device-label{
    font-size: 16px;
}
.device-address{
    font-size: 12px;
}
.gray-bg{
    background-color: #E7EFEE;
    color: #1a1a1a;
}
.gas-container{
    background-color: rgba(255, 255, 255, 0.10);
}
.home-info-container{
    background-color: rgba(255, 255,255,0.1);
    margin-top: 25px;
    padding: 25px 0px;

}
.gm-style-mtc, .gm-svpc{
    display: none;
}
.margin-bottom-10{
    margin-bottom: 0px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.margin-bottom-small{
    margin-bottom: 10px;
}
.home-info-label{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.g-container{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-bottom: 5px;
    color: #fff;
    padding-top: 16px;
    font-size: 15px; 
}

.gas-container .col-sm-3{
    min-height: 80px;
    margin-bottom: 20px;
}
.contributor-img{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.div-circle{
    height: 80px;
    margin: 0 auto;
    width: 80px;
    margin-bottom: 15px;
    font-size: 60px;
}
.div-center{
    padding-top: 5px;
    margin-bottom: 15px;
}
.div-center span i{
    font-size: 70px;
}

.fa-github{
    color: #333;
}
/*
    bottom panel
*/
.bottom-panel{
    position: absolute;
    padding-top: 8px;
  /*  padding-bottom: 8px;*/
    background-color: #303841;
    color: #fff;
    font-size: 12px;
    width: 100%;
    bottom: 45px;
    height: 50px;
  /*  bottom: 60px;*/
}

/* modal icons */
.modal-icons{
    position: absolute;
    top: 5px;
    right: 420px;
}
.btn{
    border-radius: 4px;
    border: 0px solid #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
}
.btn:hover,
.btn:active,
.btn:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
    -mz-box-shadow: none;
    -o-box-shadow: none;
    font-weight: bold;
    outline: none;
}
.btn-transparent{
    background-color: rgba(255,255,255,0.5);
    border-color:#fff;
    color: #fff;
}
hr{
    width: 150px;
    position: absolute;
    text-align: center;
    border: 0.5px solid #ff0000;
    left: 50%;
    margin-top: 0px;
    margin-left: -75px;
}
hr#white{
    width: 200px;
    position: absolute;
    text-align: center;
    border: 0.5px solid #fff;
    left: 50%;
    margin-top: 5px;
    margin-left: -100px;
    margin-bottom: 25px;
}
hr#whitelong{
    width: 400px;
    position: absolute;
    text-align: center;
    border: 0.5px solid #fff;
    left: 50%;
    margin-top: 5px;
    margin-left: -200px;
    margin-bottom: 25px;
}
.btn-transparent:hover,
.btn-transparent:active{
    background-color: #fff;
    border-color: #fff;
    color:#333;
}
.btn-black{
    background-color: #333;
    border-color:#333;
    color: #fff;
}
.btn-black:hover,
.btn-black:active{
    background-color: #fff;
    border-color: #fff;
    color:#333;
}
.fa-stack{
    color: #fff;
}
.fa-inverse{
    color: #25345b;
}
.activeicon .fa-stack{
    color: #25345b;
    cursor: pointer;
}
.activeicon .fa-inverse{
    color: #fff;
    cursor: pointer;
}
.fa-stack:hover, .fa-stack:active, .fa-stack:focus{
    color: #25345b;
    cursor: pointer;
}
.fa-inverse:hover, .fa-inverse:active, .fa-inverse:focus{
    color: #fff;
    cursor: pointer;
}
.modal-icons > div{
    margin:10px 0px;
    font-size: 16px;
}

/* chart changes */
.chart {
  background: conic-gradient(#f15854 4%, #4d4d4d 0 8%, #5da5da 0 17%, #decf3f 0 48%, #b276b2 0 54%, #faa43a 0);
  border-radius: 50%;
  width: 50%;
  height: 0;
  padding-top: 50%;
  float: left;
  padding-right: 20px;
}
.key {
  width: 50%;
  float: right;
  list-style: none;
  display: table;
  border-collapse: separate;
}
.key > li {
  display: table-row;
}
.key > li > * {
  display: table-cell;
  border-bottom: 12px solid #fff;
}
.percent {
  color: #fff;
  padding: 10px 2px;
  text-shadow: 0 0 1px #000;
  text-align: center;
}
.choice {
  padding-left: 10px;
}
.yellow {
  background: #00b3bf;
}
.purple {
  background: #b276b2;
}
.orange {
  background: #faa43a;
}
.chart-container{
    max-height: 200px;
    background-color: #464f56;
}
.aqi-container{
    position: absolute;
    top:77px;
    font-family: "bebasneue";
    
    font-size: 56px;
    width: 100%;
    text-align: center;
}
.aqi-container > span{
    letter-spacing: 0px;
}
.home-label-container{
    position: absolute;
    top:63px;
    width: 100%;
    font-size: 24px;
    text-align: center;
}
.aqi-label-container{
    position: absolute;
    top:140px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}



/* animations */
div {
  transition: all ease 0.2s;
}



/*
    about styling
*/
.about-styles{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #f5f6f6;
}
.about-styles .overlay{
    background-image: url(src/assets/images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.img-header{
    max-height: 400px;
    width: 100%;
    height: 400px;
    z-index: 100;
}
.primary-green{
    color: #00b3bf;
}
.theme-color{
    color: #00b3bf;
}
.primary-blue{
    color: #25345b;
}
.api-version{
    display: none;
}
.primary-gray{
    color: #eaeaea;
}
.bg-gray{
    background-color: #f8f8f8;
}
.primary-black{
    color: #464f56;
}
.secondary-black{
    color: #3d3d3d;
}
.capital-font{
    text-transform: uppercase;
}
.bg-white{
    background-color: #fff;
}
.about-logo-container{
    padding: 0px;
    margin-bottom: 25px;
    min-height: 160px;
    height: 160px;
    max-height: 160px;
}
.about-logo-container img{
    max-height: 160px;
}
.about-india-opendata-container{
    padding-top:30px;
}
.about-desc-container{
    text-align: left;

}
.partners-list{
    margin-left:20px;

}
.bold, p.bold{
    font-weight: bold !important;
}
.partners-list li{
    margin: 10px 0px;

}

/* 
    devices styling
*/
.vertical-center{
    display: table-cell;
    vertical-align: middle;
    height: 250px;
    font-size: 16px;
    font-weight: normal;
    
}
.vertical-center-parent{
    height: 100%;
}
.c100.small{
    font-size: 60px !important;
    cursor: pointer;
}
.c100:hover > span{
    color: #FBA919;
}
.yellow{
    color: #00b3bf;
}
.blue-bg{
    background-color: #464f56;
}
.dark-blue-bg{
    background-color: #303841;
}
.screen-height{
    height: 100vh;
}
.profile-icon{
    height: 36px;
    width: 36px;
}


.filter-container{
    position: absolute;
    bottom: 95px;
    max-width: 80px;
    left: 0px;
}
.filter-icon-container{
    height: 60px;
    width: 60px;
    padding:10px;
    cursor: pointer;
    margin: 0px 10px 10px 10px;
    background-color: #303841;
    border-radius: 50%;
}
.bottom-nav-icons > div{
    padding:8px 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}
.bottom-nav-icons > div.active{
    padding:5px 0px;
    background-color: transparent;
}
.filter-icon{
    height: 40px;
    width: 40px;
}
/*.bottom-row{
    position: relative;
    background-color: #464f56;
    bottom: 5%;
    width: 100%;
}*/

.color-container{
    padding:8px 15px;
    color: #3d3d3d;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
}
.good-bg{
    background-color: #6ecc58;
}
.satisfactory-bg{
    background-color: #bbcf4c;   
}
.moderate-bg{
    background-color: #eac736;
}
.poor-bg{
    background-color: #ed9a2e;
}
.very-poor-bg{
    background-color: #e8633a;
}
.severe-bg{
    background-color: #d63636;
}
.position-middle{
    position: absolute !important;
    left: 50%;
    margin-left: -30px !important;
}
.slimScrollDiv{
    width: 100% !important;
}
.units{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 35px;
    left: 19px;
}
.units.units1{
    left:25px;
}
.units.units3, .units.unitsp{
    left: 16px;
}
.c100 > span{
    top: -4px !important;
}
.row{
    margin-left: -15px;
}
.swagger-ui .api-version{
    
}
.middle-title{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: rgba(0,0,0,0.4);
    z-index: 110;
}
.title-container{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 140px;
}
.parner-img-container{
    min-height: 120px;
}
.partner-img{
    margin: 0 auto;
    width: 120px;
    margin-bottom: 15px;
}
.partner-title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}
.partner-role{
    font-size: 14px;
}
.overlay-black{
    position: absolute;
    z-index: 99;
    height: 400px;
    top: 60px;
    background-color: rgba(0,0,0,1);
}
.title-container{
    margin: 0 auto;
}
@media (max-width:500px){
    .angular-google-map-container{
        height: 80vh;
    }
    .title-container{
        width: 100%;
        margin: 0 auto;
    }
    body.dashboard{
        overflow-y: auto !important;
    }
    .bottom-panel{
        display: none;
    }
    .no-padding{
        padding: auto !important;
    }
    .bottom-row{
        bottom: 40px;
    }
    .mobile-right-no-padding{
        padding-right: 0px;
    }
}
@media (min-width: 728px) and (max-width: 1281px){
    .bottom-panel{
        bottom: 45px;
    }
}
.airowl-tab .nav-tabs > li{
    width: 20%;
    border-top: 0px;
    cursor: pointer;
}
.airowl-tab .nav-tabs > li:hover > a{
    color: #1a1a1a;
    border: 0px;
}
.airowl-tab .nav-tabs > li.active{
    border-bottom: 2px solid #fff;
}
.airowl-tab .nav-tabs > li > a{
    border: 0px;
    color: #fff;

}
.airowl-tab .nav-tabs{
    border: 0px;
}
.img-tab{    margin: 15px auto;
    max-height: 250px;
}
.tab-div{
    min-height: 280px;
}
.tab-v-container{
    height: 280px;
    display: table-cell;
}
.tab-container{
    display: inline-block;
    vertical-align: middle;
    align: center;
}
.tab-div {
    background-color: #fff;
}
.airowl-menu a{
    background-color: #fff;
    color : #00b3bf;
    border-color: 10px;
}
.airowl-menu.active a{
    color: #fff;
    background-color : #00b3bf;
    border-color: 10px;
}
.custom-menu.navbar-default .navbar-nav > li.airowl-menu > a{
    color: #00b3bf !important;
    background-color: #fff;
    border-radius: 6px;
}
.custom-menu.navbar-default .navbar-nav > li.airowl-menu.active > a,
.custom-menu.navbar-default .navbar-nav > li.airowl-menu > a:hover,
.custom-menu.navbar-default .navbar-nav > li.airowl-menu > a:focus{
    background-color: #00b3bf !important;
    color: #fff !important;
    border-radius: 6px;
}

@media (max-height: 501px) {
    .bottom-row{
        bottom: -5px;
        z-index: 10000000000;
    }
    h5{
        font-size: 9px;
    }
    h6{
        font-size: 9px;
    }
    p{overflow:hidden; white-space: nowrap;}
}