<div  class="about-styles text-center ">
    <div class="overlay">	
    	<img src="assets/images/partners.jpg" class="img-header">
    	<div class="middle-title">
    		<div class="title-container">
    			<h1 class="white bold ">
	    			Coming together is a beginning; keeping together is progress; working together is success
.	    		</h1>
    		</div>
    	</div>
	</div>
</div>
<section class="bg-white">
	<div class="container">
		<div class="raw">
			<div class="col-sm-12 ">
				<div >
				</div>
			</div>
			<div class="col-sm-12 text-center margin-bottom-default">
				<p class="primary-black">
					Our journey so far, has brought us closer to many concerned individuals and organisations who have extended their help in developing a possible solution. We would like to acknowledge all our partners -- the individuals who are playing an active advisory role and the organisations that are supporting us in building the foundation.
				</p>
				<p class="primary-black">
					The list below is not a static list. It is expected to expand. We request you to help us in expanding it by adding yourself as a concerned partner. If you wish to run side-by -side with us or provide valuable advice through your unique capabilities & experiences, then join hands with us to help in building the existing idea or shaping up a new idea which can contribute to a positive change within the society. Kindly click here and help us know you better and how you can support us in this initiative. Please suggest us the activities, take ownership and drive the initiative for a revolutionary change.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="bg-gray">
	<div class="container">
		<div class="raw">
			<div class="col-sm-12 text-left margin-bottom-default">
				<p class="primary-black bold">
					We are specifically looking for support on the following fronts:
				</p>
				<ul style="" class="partners-list">
					<li>
						Anything you feel we have unconsciously missed or not addressed properly.
					</li>
					<li>
						Spreading awareness amongst the citizens about the air-quality problem and how their monitoring can possibly help in developing knowledge and driving action.
					</li>
					<li>
						Making the dream of having 1000s of AirOwls or any other open source monitoring devices installed across the country and sending minute by minute data to the platform, a reality.
					</li>
					<li>
						Sharing the existing solutions in the public space to other makers worldwide to further improve the hardware design and to bring down the cost and promote adoption of the idea.
					</li>
					<li>
						Inform the environmental scientists, opinion leaders, politicians, policy makers, media activists and anyone else who is relevant to utilize the data, freely available for their respective use.
					</li>
				</ul>
			</div>
			<!--div class="col-sm-12 text-center">
				<button class="btn btn-black">Join as Partner</button>
			</div-->
		</div>
	</div>
</section>
<section class="bg-white">
	<div class="container">
		<div class="raw">
			<div class="col-sm-12 ">
				<div >
					<h3 class="text-center primary-blue capital-font margin-bottom-25 ">
						Current Partners
					</h3>
				</div>
			</div>
			<div class="col-sm-12 text-center margin-bottom-50">
				<div class="col-sm-3 partner-div text-center">
					<div class="parner-img-container" style="padding-top:40px;">
						<img class="img-responsive partner-img" src="assets/images/partners/arunverma.gif">
					</div>
					<p class="partner-title">
						Arun Verma, Design Studio, Noida
					</p>
					<p class="partner-role">
						Digital & Print Design/Storytelling 
					</p>
				</div>
				<div class="col-sm-3 partner-div text-center">
					<div class="parner-img-container">
						<img class="img-responsive partner-img" src="assets/images/partners/bold.png">
					</div>
					<p class="partner-title">
						Bold Kiln, Noida
					</p>
					<p class="partner-role">
						Marketing Support
					</p>
				</div>
				<div class="col-sm-3 partner-div text-center">
					<div class="parner-img-container">
						<img class="img-responsive partner-img" src="assets/images/partners/jamia.jpg">
					</div>
					<p class="partner-title">
						CCMG, Jamia Milia Islamia, Delhi
					</p>
					<p class="partner-role">
						Academic Partner
					</p>
				</div>
				<div class="col-sm-3 partner-div text-center">
					<div class="parner-img-container">
						<img class="img-responsive partner-img" src="assets/images/partners/cmee.png">
					</div>
					<p class="partner-title">
						CMEE, IIM Lucknow
					</p>
					<p class="partner-role">
						Corporate Front Ending & Marketing Advisory Partner
					</p>
				</div>
			</div>
			<div class="col-sm-12 text-center margin-bottom-default">
				<div class="col-sm-3 partner-div text-center">
					<div class="parner-img-container" style="padding-top:40px;">
						<img class="img-responsive partner-img" src="assets/images/partners/smartmandate.png">
					</div>
					<p class="partner-title">
						Juxt Smart Mandate
					</p>
					<p class="partner-role">
						Data Analytics/Seed Fund
					</p>
				</div>
				<div class="col-sm-3 partner-div text-center">
					<div class="parner-img-container">
						<img class="img-responsive partner-img" src="assets/images/partners/oizom-about.svg">
					</div>
					<p class="partner-title">
						Oizom Instruments
					</p>
					<p class="partner-role">
						Makers - Hardware Assembly, Data Visualisation Platform, Mobile App (V1)
					</p>
				</div>
				<div class="col-sm-3 partner-div text-center">
					<div class="parner-img-container" style="padding-top:40px;">
						<img class="img-responsive partner-img" src="assets/images/partners/seedstudio.png">
					</div>
					<p class="partner-title">
						Seeed Studio, ShenZhen
					</p>
					<p class="partner-role">
						Opensource Hardware Components/Sensors Sourcing
					</p>
				</div>
				<div class="col-sm-3 partner-div text-center">
					<div class="parner-img-container" style="padding-top:40px;">
						<img class="img-responsive partner-img" src="assets/images/partners/urja.jpg">
					</div>
					<p class="partner-title">
						URJA, Delhi
					</p>
					<p class="partner-role">
						RWA, Delhi Local Community Activation
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-white">
	<div class="container">
		<div class="raw">
			<div class="col-sm-12 ">
				<div >
					<h3 class="text-center primary-blue capital-font margin-bottom-25 ">
						Current Advisors
					</h3>
				</div>
			</div>
			<div class="col-sm-12">
				<table class="table table-stripped">
					<thead>
                        <tr>
                            <th class=""> Name </th>
                            <th class="text-left" > Organization </th>
                            <th class="text-center" > Profile </th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr>
							<td > Ashutosh Dikshit </td>
							<td class="text-left"> CEO, URJA </td>
							<td class="text-center"> <a href="https://in.linkedin.com/in/ashutosh-dikshit-a0733bb" target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Deepak Chaudhary </td>
							<td class="text-left"> Renowned Pulmonologist </td>
							<td class="text-center"> <a href="https://www.practo.com/delhi/clinic/dr-deepak-chaudhary-clinic-defence-colony " target="_blank" ><i class="fa fa-user-md primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Jai Dhar Gupta </td>
							<td class="text-left"> Founder, Nirvanabeing </td>
							<td class="text-center"> <a href="http://starparents.org/jai-dhar-gupta/" target="_blank" ><i class="fa fa-user primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Krishna Kumar </td>
							<td class="text-left"> COO, 9.9 Tech </td>
							<td class="text-center"> <a href="https://in.linkedin.com/in/kkumarkg " target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Laveesh Bhandari </td>
							<td class="text-left"> Economist </td>
							<td class="text-center"> <a href="https://in.linkedin.com/in/laveeshbhandari" target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Nikhil Pahwa </td>
							<td class="text-left"> Founder, Editor and Publisher, Medianama </td>
							<td class="text-center"> <a href="https://www.linkedin.com/in/nikhilpahwa" target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Mehmood Khan </td>
							<td class="text-left"> Former Global Innovation Leader, Unilever Trustee, Rasuli Kanwar Khan Trust </td>
							<td class="text-center"> <a href="http://forbesindia.com/article/person-of-the-year-09/the-maverick/8142/2" target="_blank" ><i class="fa fa-user primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Pradeep Panigrahi </td>
							<td class="text-left"> Environmental Science Expert </td>
							<td class="text-center"> <a href="https://www.linkedin.com/in/dr-pradeep-panigrahi-4383081b" target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Sanjay Sindhwani </td>
							<td class="text-left"> Businesshead, Economic Times</td>
							<td class="text-center"> <a href="https://in.linkedin.com/in/sindhwani " target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Sidharth Rao </td>
							<td class="text-left"> CEO & Co-founder, WebChutney Studio (Leading Digital Marketing Co.)</td>
							<td class="text-center"> <a href="https://in.linkedin.com/in/sidharthrao  " target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Dr Sunita Purushottam </td>
							<td class="text-left"> Expert, Air quality and GHG emissions</td>
							<td class="text-center"> <a href="https://www.linkedin.com/in/sunitapurushottam " target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Thejesh GN</td>
							<td class="text-left"> Co-founder, DataMeet</td>
							<td class="text-center"> <a href="https://www.linkedin.com/in/thejeshgn" target="_blank" ><i class="fa fa-linkedin primary-black"></i></a></td>
						</tr>
						<tr>
							<td > Ulrike Reinhard</td>
							<td class="text-left"> Digital Nomad & Futurist</td>
							<td class="text-center"> <a href="http://www.ulrikereinhard.com/" target="_blank" ><i class="fa fa-globe primary-black"></i></a></td>
						</tr>
                    </tbody>
					
				</table>				
			</div>
		</div>
	</div>
</section>
<section class="black-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center white col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="margin-bottom-50">
                        <h2 class="white-font bold">
                            IT'S TIME TO GIVE THE ENVIRONMENT A CLOSER LOOK.<br>
                            LET'S JOIN HANDS FOR HEALTHIER TOMORROW!
                        </h2>    
                    </div>
                    <div class="text-center margin-bottom-50">
                        <a class="btn btn-transparent" href="https://docs.google.com/forms/d/1G1SyMFx8aZJWFlY1_DqArcs6G7F9Lk8RLz5_SJREQuE/viewform?c=0&w=1" target="_blank">Join Us!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>